<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guesser</title>
</head>
<body>
<form action="/" method="post">
    <label>Think of a number from range 0 to 1000. I will guess it in max 10 tries.</label>
    <br>
    <button type="submit">Start</button>
</form>
</body>
</html>